.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* full screen */
  width: 100vw;
  background-color: black; /* black background */
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-top: 5px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
